body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #111;
}

header {
    padding: 15px;
    background-color: #131921;
    text-align: center;
}

header .logo:hover{
    border: 1px solid white;
    border-radius: 10%;
}

header .logo img {
    width: 120px;
}

.login-container, 
.password-reset-container, 
.registration-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    animation: dropdown 1s ease-in-out;
}

@keyframes dropdown {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

h1 {
    text-align: center;
    color: #131921;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #FF9900;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #ff7f00;
}

.checkbox-container, .terms {
    margin-bottom: 15px;
}

.checkbox-container input, .terms input {
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.checkbox-container, .terms {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.show-password input, .terms input {
    width: auto;
    margin-right: 10px; /* Optional: Adds spacing between checkbox and text */
    vertical-align: middle; /* Align checkbox with the text */
}

.show-password, .terms {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.error-msg, .confirmation-msg {
    color: red;
    text-align: center;
    font-size: 14px;
}

.links{
    display:'flex';
    flex-direction: column;
    justify-content: center
}
.links a {
    text-decoration: none;
    color: #0066c0;
}

.links a:hover {
    text-decoration: underline;
}

footer {
    padding: 20px 0;
    background-color: #131921;
    text-align: center;
    color: #fff;
    font-size: 12px;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .login-container, .password-reset-container, .registration-container {
        margin: 20px;
        padding: 15px;
    }
}
