body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.new_home_web {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  animation: dropdown 1s ease-in-out;
}

@keyframes dropdown {
  from {
      opacity: 0;
      transform: translateY(-100px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.new_home_web .yellowLine {
  background-color: rgb(233, 144, 11);
  width: 100%;
  height: 10px;
  text-align: center;
}

.new_home_web .yellowText {
  color: rgb(233, 144, 11);
}

.new_home_web .text-blk.subHeading {
  text-align: center;
  color: #939393;
  max-width: 630px;
}

.new_home_web .text-blk.heading {
  font-size: 36px;
  line-height: 55px;
  font-weight: 600;
  margin-bottom: 20px;
}

.new_home_web .responsive-container-block.textContainer {
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 1320px;
  z-index: 50;
  text-align: center;
}

.new_home_web .form-box {
  width: 100%;
  max-width: 600px;
}

.new_home_web .send:hover {
  background-color: rgb(233, 144, 11);
  border: none;
}

.new_home_web .send {
  font-size: 18px;
  color: white;
  font-weight: 600;
  background-color: rgb(19, 25, 33);
  width: 100%;
  text-align: center;
  padding: 15px 0;
  border: none;
}

.new_home_web .input,
.new_home_web .textinput {
  width: 100%;
  border: 2px solid #a2a2a2;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f1f1f1;
  margin-bottom: 20px;
  padding: 10px;
}

.new_home_web textarea {
  min-height: 120px;
  resize: vertical;
}

.new_home_web input:focus,
.new_home_web textarea:focus {
  outline: none;
  border-color: rgb(19, 25, 33);
}

.new_home_web .topHead {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .new_home_web .form-box {
      width: 100%;
      padding: 0 20px;
  }

  .new_home_web .text-blk.heading {
      font-size: 28px;
  }

  .new_home_web .text-blk.subHeading {
      font-size: 16px;
      line-height: 22px;
  }
}

@media (max-width: 500px) {
  .new_home_web .text-blk.heading {
      font-size: 24px;
      text-align: center;
      line-height: 30px;
  }

  .new_home_web .text-blk.subHeading {
      font-size: 14px;
      line-height: 20px;
  }
}
